<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
<h1>Login to FiveGuys</h1>

<!-- 로그인 폼 -->
<form action="/login-process" method="post">
    <div>
        <label for="username">Email:</label>
        <input type="email" id="username" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<!-- 소셜 로그인 옵션 -->
<h2>Or login with:</h2>
<a href="/oauth2/authorization/google">Login with Google</a><br>
<a href="/oauth2/authorization/naver">Login with Naver</a>

<!-- 회원가입 링크 -->
<p>Don't have an account? <a href="/signup">Sign Up</a></p>
</body>
</html>
